nav
  padding 8px 24px 0px 32px
  font-size 20px
  // background-color #202020

  .top
    display block
    text-align right
    margin-bottom 32px

  .bottom
    display flex
    margin-top 8px

    .left
      flex-grow 1
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

      .back-button
        display inline-block
        margin-right 16px

        i
          vertical-align middle
          font-size 24px

    .right
      margin-left 16px

  h1
    display inline-block
    margin 0px
    padding 0px
    font-size 18px
    vertical-align middle

  button
    height 32px
    padding 0 16px
    line-height 32px
    background-color rgba(0, 0, 0, 0)
    border none
    color rgba(255, 255, 255, 0.5)
    font-size 12px
    cursor pointer

    &:hover
      background-color #444
      color rgba(255, 255, 255, .9)

  input.search
    width 200px
    padding 6px 8px
    margin-right 8px
    background-color #333
    border none
    outline 0
    color rgba(255, 255, 255, 0.95)
    font-size 14px

    &::-webkit-input-placeholder
      color: #666

    &:focus
      background-color #111

      &::-webkit-input-placeholder
        color #444