body {
  padding: 0px;
  margin: 0px;
  background-color: #404040;
  color: rgba(255,255,255,0.95);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, "Yu Gothic Medium", YuGothic, sans-serif;
}
a {
  color: rgba(255,255,255,0.95);
  text-decoration: none;
}
a:hover {
  color: #34c6ff;
}
