nav
  padding 8px 24px 8px 32px
  font-size 20px

  .top
    display block
    text-align right
    margin-bottom 32px

  .bottom
    display flex
    margin-top 8px

    .left
      flex-grow 1
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      height = 30px

      .back-button
        display inline-block
        margin-right 16px

        i
          vertical-align middle
          font-size height

      h1
        display inline-block
        margin 0px
        padding 0px
        height height
        line-height height
        font-size 26px
        font-weight normal
        letter-spacing 0.01em
        vertical-align middle

    .right
      margin-left 16px

  button
    height 32px
    padding 0 16px
    line-height 32px
    background-color rgba(0, 0, 0, 0)
    border none
    color rgba(0, 0, 0, 0.4)
    font-size 12px
    cursor pointer

    &:hover
      background-color #efefef
      color rgba(0, 0, 0, .9)

  input.search
    width 200px
    padding 8px 12px
    margin-right 8px
    background-color #efefef
    border none
    outline 0
    color rgba(0, 0, 0, 0.9)
    font-size 16px

    &::-webkit-input-placeholder
      color: rgba(0, 0, 0, 0.2)

    &:focus
      background-color #ddd

      &::-webkit-input-placeholder
        color rgba(0, 0, 0, 0.25)