doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/vue')
    script(src='https://unpkg.com/http-vue-loader')
    script(src='https://unpkg.com/vue-router')
    script(src='/javascripts/video-util.js')
  body
    block content
