doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    )
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
  body
    block content
