body {
  padding: 0px;
  margin: 0px;
  background-color: #121212;
  color: #fff;
  font-size: 14px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, "Yu Gothic Medium", YuGothic, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
