videoRoot: /path/to/video/folder
title: VIDEO BROWSER
port: 3000
descending: false
sceneInterval: 10
basicAuth:
  name: my-name
  password: my-password
  exempt:
    - "::1"
    - "127.0.0.1"
    - "192.168.0.0/24"
ffmpeg:
  vaapiEnabled: false
  vaapiDevice: /dev/dri/renderD128
  videoToolboxEnabled: false
thumbnailer:
  cron: ""   # E.g. */30 * * * *
  threads: 0